## Hago un ejemplo facilito para probar
    -Arbol de decision
    -Binary encoding simple(Tirando los NaN)
    -No agrego features y saco algunos
    -SimpleImputer

In [3]:
import numpy as np
import pandas as pd
pd.set_option('mode.chained_assignment', None) # Deshabilita SettingWithCopyWarning. Ojo.

In [4]:
df = pd.read_csv('data/train.csv')

In [5]:
from common import metrica

In [6]:
df["fecha"] = pd.to_datetime(df["fecha"])

In [7]:
from sklearn.model_selection import train_test_split
from category_encoders import BinaryEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeRegressor

In [8]:
df.shape

(240000, 23)

In [9]:
df.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07,0.0,0.0,0.0,0.0,0.0,1150000.0

In [10]:
#Transformo fecha a numero
#df["fecha_n"] = df["fecha"].dt.year * 10000 + df["fecha"].dt.month * 100 + df["fecha"].dt.day
#df["fecha_n"]

In [11]:
col_borrar = ["direccion", "lat", "lng", "titulo", "descripcion", "idzona", "fecha"]
df = df.drop(col_borrar, axis=1)
df

,id,tipodepropiedad,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,Apartamento,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,80.0,80.0,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,Casa en condominio,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,2.0,268.0,180.0,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,Casa,Tonalá,Jalisco,5.0,3.0,2.0,2.0,144.0,166.0,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,Casa,Zinacantepec,Edo. de México,1.0,2.0,1.0,1.0,63.0,67.0,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,Apartamento,Zapopan,Jalisco,10.0,2.0,1.0,1.0,95.0,95.0,0.0,0.0,0.0,0.0,0.0,1150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,119879,Casa,Zinacantepec,Edo. de México,0.0,2.0,2.0,1.0,67.0,NaN,0.0,0.0,0.0,0.0,0.0,650000.0
239996,259178,Casa,Toluca,Edo. de México,0.0,3.0,3.0,3.0,200.0,250.0,0.0,0.0,0.0,1.0,1.0,1940000.0
239997,131932,Apartamento,Benito Juárez,Distrito Federal,20.0,2.0,1.0,2.0,138.0,138.0,0.0,0.0,0.0,0.0,0.0,3400000.0
239998,146867,Casa,Iztapalapa,Distrito Federal,20.0,4.0,0.0,4.0,235.0,137.0,1.0,0.0,0.0,1.0,1.0,2890000.0
239999,121958,Apartamento,Cuajimalpa de Morelos,Distrito Federal,1.0,3.0,2.0,2.0,149.0,NaN,0.0,0.0,0.0,0.0,0.0,3650000.0

In [12]:
col_categorias = ["ciudad", "provincia", "tipodepropiedad"]
df[col_categorias].isnull().sum()

ciudad             372
provincia          155
tipodepropiedad     46
dtype: int64

In [13]:
# Si borro los nans me pierdo, a lo sumo (probablemente menos), 573 filas de 240000, para esta prueba simple no afecta tanto
df_categorico = df[col_categorias].dropna()
df_categorico

                        ciudad         provincia     tipodepropiedad
0                Benito Juárez  Distrito Federal         Apartamento
1       La Magdalena Contreras  Distrito Federal  Casa en condominio
2                       Tonalá           Jalisco                Casa
3                 Zinacantepec    Edo. de México                Casa
4                      Zapopan           Jalisco         Apartamento
...                        ...               ...                 ...
239995            Zinacantepec    Edo. de México                Casa
239996                  Toluca    Edo. de México                Casa
239997           Benito Juárez  Distrito Federal         Apartamento
239998              Iztapalapa  Distrito Federal                Casa
239999   Cuajimalpa de Morelos  Distrito Federal         Apartamento

[239600 rows x 3 columns]

In [14]:
col_datos = list(set(df.columns.tolist()) - set(col_categorias))
col_datos

['piscina',
 'banos',
 'metrostotales',
 'precio',
 'id',
 'garages',
 'centroscomercialescercanos',
 'habitaciones',
 'antiguedad',
 'gimnasio',
 'metroscubiertos',
 'escuelascercanas',
 'usosmultiples']

In [18]:
codificador = BinaryEncoder(cols=col_categorias)
df_binario = codificador.fit_transform(df_categorico)
df2 = df_binario.join(df[col_datos], how="inner")
df2

,ciudad_0,ciudad_1,ciudad_2,ciudad_3,ciudad_4,ciudad_5,ciudad_6,ciudad_7,ciudad_8,ciudad_9,...,precio,id,garages,centroscomercialescercanos,habitaciones,antiguedad,gimnasio,metroscubiertos,escuelascercanas,usosmultiples
0,0,0,0,0,0,0,0,0,0,0,...,2273000.0,254099,1.0,0.0,2.0,NaN,0.0,80.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,1,...,3600000.0,53461,2.0,1.0,3.0,10.0,0.0,268.0,1.0,0.0
2,0,0,0,0,0,0,0,0,0,1,...,1200000.0,247984,2.0,0.0,3.0,5.0,0.0,144.0,0.0,0.0
3,0,0,0,0,0,0,0,0,1,0,...,650000.0,209067,1.0,1.0,2.0,1.0,0.0,63.0,1.0,0.0
4,0,0,0,0,0,0,0,0,1,0,...,1150000.0,185997,1.0,0.0,2.0,10.0,0.0,95.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239995,0,0,0,0,0,0,0,0,1,0,...,650000.0,119879,2.0,0.0,2.0,0.0,0.0,67.0,0.0,0.0
239996,0,0,0,0,1,0,1,0,0,0,...,1940000.0,259178,3.0,1.0,3.0,0.0,0.0,200.0,1.0,0.0
239997,0,0,0,0,0,0,0,0,0,0,...,3400000.0,131932,1.0,0.0,2.0,20.0,0.0,138.0,0.0,0.0
239998,0,0,0,0,1,0,0,0,0,0,...,2890000.0,146867,0.0,1.0,4.0,20.0,1.0,235.0,1.0,0.0
239999,0,0,0,0,0,1,1,1,1,1,...,3650000.0,121958,2.0,0.0,3.0,1.0,0.0,149.0,0.0,0.0

In [26]:
df2.columns

Index(['ciudad_0', 'ciudad_1', 'ciudad_2', 'ciudad_3', 'ciudad_4', 'ciudad_5',
       'ciudad_6', 'ciudad_7', 'ciudad_8', 'ciudad_9', 'ciudad_10',
       'provincia_0', 'provincia_1', 'provincia_2', 'provincia_3',
       'provincia_4', 'provincia_5', 'tipodepropiedad_0', 'tipodepropiedad_1',
       'tipodepropiedad_2', 'tipodepropiedad_3', 'tipodepropiedad_4',
       'tipodepropiedad_5', 'piscina', 'banos', 'metrostotales', 'precio',
       'id', 'garages', 'centroscomercialescercanos', 'habitaciones',
       'antiguedad', 'gimnasio', 'metroscubiertos', 'escuelascercanas',
       'usosmultiples'],
      dtype='object')

In [19]:
datos = df2.drop(["precio"], axis=1)
precios = df2["precio"]
datos_train, datos_test, precio_train, precio_test = train_test_split(datos, precios, test_size=0.25, random_state=1)

In [20]:
col_a_imputar = list(set(df.columns[df.isnull().sum() > 0].tolist()) - set(col_categorias))
col_a_imputar

['banos',
 'metroscubiertos',
 'metrostotales',
 'habitaciones',
 'garages',
 'antiguedad']

In [21]:
for c in col_a_imputar:
    imp = SimpleImputer(strategy="median")
    datos_train[c] = imp.fit_transform(datos_train[[c]])
    datos_test[c] = imp.fit_transform(datos_test[[c]])

In [22]:
display(datos_train.isnull().sum())
display(datos_test.isnull().sum())

ciudad_0                      0
ciudad_1                      0
ciudad_2                      0
ciudad_3                      0
ciudad_4                      0
ciudad_5                      0
ciudad_6                      0
ciudad_7                      0
ciudad_8                      0
ciudad_9                      0
ciudad_10                     0
provincia_0                   0
provincia_1                   0
provincia_2                   0
provincia_3                   0
provincia_4                   0
provincia_5                   0
tipodepropiedad_0             0
tipodepropiedad_1             0
tipodepropiedad_2             0
tipodepropiedad_3             0
tipodepropiedad_4             0
tipodepropiedad_5             0
piscina                       0
banos                         0
metrostotales                 0
id                            0
garages                       0
centroscomercialescercanos    0
habitaciones                  0
antiguedad                    0
gimnasio                      0
metroscubiertos               0
escuelascercanas              0
usosmultiples                 0
dtype: int64

ciudad_0                      0
ciudad_1                      0
ciudad_2                      0
ciudad_3                      0
ciudad_4                      0
ciudad_5                      0
ciudad_6                      0
ciudad_7                      0
ciudad_8                      0
ciudad_9                      0
ciudad_10                     0
provincia_0                   0
provincia_1                   0
provincia_2                   0
provincia_3                   0
provincia_4                   0
provincia_5                   0
tipodepropiedad_0             0
tipodepropiedad_1             0
tipodepropiedad_2             0
tipodepropiedad_3             0
tipodepropiedad_4             0
tipodepropiedad_5             0
piscina                       0
banos                         0
metrostotales                 0
id                            0
garages                       0
centroscomercialescercanos    0
habitaciones                  0
antiguedad                    0
gimnasio                      0
metroscubiertos               0
escuelascercanas              0
usosmultiples                 0
dtype: int64

In [23]:
arbol = DecisionTreeRegressor().fit(datos_train, precio_train)
pred = arbol.predict(datos_test)

In [24]:
metrica.resultados(precio_test, pd.Series(pred))

+-------------------------+
| RMSLE   | MAE           |
+-------------------------+
| 1.17409 | 2179981.37597 |
+-------------------------+

In [20]:
#Conclusion: Mas horripilante de lo que esperaba